@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-base, antd;

@layer reset, antd;
@import url("antd/dist/reset.css") layer(reset);

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-picker-content > thead > tr > th {
  padding: 12px 0 !important;
  font-size: 16px;
  font-weight: 700;
  color: #b8b8b8 !important;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}
